$highlight-color: #84bd00;
$highlight-dark: #628c01;
$base-color: #000;
$base-mid-color: #414141;
$mid-gray: #d7dfe9;
$light-gray: #f2f5f9;
$superlight-gray: #f7faff;
$light-green: #d7e1c1;
$bright-color: #fff;
$display-font: 'Montserrat', sans-serif;
$body-font: 'Open Sans', sans-serif;
$shadow: 2px 2px 8px rgba(45, 44, 48, 0.15);
$shadow-large: 8px 8px 24px rgba(45, 44, 48, 0.15);
$cubic-transition: cubic-bezier(0, 0.83, 0.42, 1.01);
$purple: #7020bc;
$orange: #e2591b;
$green: #0ea04d;
$yellow: #bc8f00;
$blue: #2d4bd2;
$teal: #00a8a8;

@media screen and (min-width: 0) and (max-width: 767px) {
  .ax_section {
    p {
      font-size: 1.6rem;
      font-family: $body-font;
    }
  }

  .ax_container {
    width: 90%;
    display: block;
    margin: 0 auto;

    p {
      font-family: $body-font;
      font-size: 1.4rem;
      color: $base-color;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .ax_section {
    p {
      font-size: 1.6rem;
      font-family: $body-font;
    }
  }

  .ax_container {
    width: 74rem;
    display: block;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1200px) {
  .ax_section {
    p {
      font-size: 1.6rem;
      font-family: $body-font;
    }
  }

  .ax_container {
    width: 114rem;
    display: block;
    margin: 0 auto;
  }
}

.ax_page_title {
  font-family: $display-font;
  font-size: 3.2rem;
  color: $base-color;
}

.ax_page_subtitle {
  font-family: $display-font;
  font-size: 2.4rem;
  color: $highlight-dark;
}

.ax_form {
  .ax_form_heading {
    width: 100%;
    margin-bottom: 1.6rem;

    p {
      font-size: 1.6rem;
      font-family: $body-font;
    }
  }
  .ax_field {
    display: flex;
    flex-direction: column;
    position: relative;

    label {
      color: $highlight-dark;
      font-family: $display-font;
      font-size: 1.4rem;
      font-weight: 700;
      display: block;
      width: 100%;
      margin-bottom: 0.4rem;

      span {
        color: red;
        font-weight: 800;
        font-size: 1.6rem;
      }
    }

    textarea,
    input[type='text'],
    input[type='email'],
    input[type='password'],
    input[type='number'],
    input[type='tel'] {
      width: 100%;
      border-radius: 0.4rem;
      border: 0.1rem solid $mid-gray;
      background: $light-gray;
      padding: 0 4rem 0 1.6rem;
      color: $base-color;
      font-family: $display-font;
      font-size: 1.4rem;
      display: inline-block;
      margin-bottom: 1.6rem;
    }

    input[type='text'],
    input[type='email'],
    input[type='password'],
    input[type='number'],
    input[type='tel'],
    input[type='date'],
    input[type='time'],
    input[type='number'],
    input[type='url'] {
      height: 4rem;

      &::placeholder {
        font-weight: 400;
        color: $mid-gray;
      }
    }

    button.see {
      position: absolute;
      top: 2.2rem;
      right: 0;
      width: 4rem;
      height: 4rem;
      border: none;
      background: transparent;

      svg {
        color: $base-mid-color;
      }
    }

    small {
      font-family: $display-font;
      font-size: 1.4rem;
    }

    input[type='checkbox'] {
      margin-bottom: 1.6rem;
    }

    input[type='submit'] {
      height: 4rem;
      border-radius: 0.4rem;
      background: $highlight-color;
      color: $bright-color;
      font-family: $display-font;
      font-size: 1.6rem;
      font-weight: 600;
      border: none;
    }
  }
}

.ax_card_list {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.boxedLoading {
  width: 100%;
  height: 100%;
  background: rgba(170, 247, 166, 0.8);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 500;
}

.primary {
  color: $highlight-color;
}

.base {
  color: $base-color;
}

.purple {
  color: $purple;
}
.orange {
  color: $orange;
}
.green {
  color: $green;
}
.yellow {
  color: $yellow;
}
.blue {
  color: $blue;
}
.teal {
  color: $teal;
}
