@import 'theme';
@import 'mixins';

.ax_topbar{
  grid-area: topbar;
  width: 100vw;
  height: 7rem;
  background: $bright-color;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.6rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  .ax_logo {
    img {
      display: block;
      max-height: 3rem;
      width: auto;
    }
  }
}